body {
  font-family: 'Verdana';
  background-color: black;
}

#clock .clock-digits {
  color: white;
  line-height: 440px;
  white-space: nowrap;
  font-size: 32em;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
}

#buttons {
  text-align: center;
  margin-top: 40px;
}

#buttons .button{
  width: 15%;
  display: inline-block;
  font-size: 25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#buttons .button-reset {
  background-color: #f44336;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: black;
  height: 100%;
  opacity: 0.8;
  color: white;
  font-size: 4em;
  padding-top: 54%;
  text-align: center;
}
